<div class="body">
    <div class="card">
        <p>Sign Up</p>

        <div class="input-container">
            <label>Full Name</label>
            <input class="custom-input" type="text" />
        </div>
        <div class="input-container">
            <label>Email</label>
            <input class="custom-input" type="text" />
        </div>
        <div class="input-container">
            <label>Password</label>
            <input class="custom-input" type="password"/>
        </div>
        <div class="input-container">
            <button class="login-button">Login</button>
        </div>
    </div>
</div>
