.first-row {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;

    .card {
        height: 15vh;
        width: 18vw;
    }

    .card-1 {
        background: linear-gradient(to right, #9574dd, #b6a0ea);
    }

    .card-2 {
        background: linear-gradient(to right, #f86060, #fa8686);
    }

    .card-3 {
        background: linear-gradient(to right, #3864ce, #3e90f8);
    }

    .card-4 {
        background: linear-gradient(to right, #f79154, #feac64)
    }
    .outer-card-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .left-side-card{
            width: 58%;
            height: 100%;
            .top-p {
                color: white;
                font-size: 15px;
                margin: 0;
            }

            .bottom-p{
                margin-top: 0.4rem;
                margin-bottom: 0;
                padding: 0;
                font-size: 10px;
                color: white;
            }
            .value-p {
                margin-top: -0.1rem;
                color: white;
            }
        }
        .right-side-card {
            width: 38%;
            height: 100%;
            .top-p {
                font-size: 10px;
                color: white;
                margin: 0;
                text-align: right;
            }
            .bottom-p {
                margin: 0;
                font-size: 12px;
                color: white;
                text-align: right;
            }
        }
    }

}

.second-row {
    height: 50vh;
    width: 96%;
    margin-left: 1.2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    .analytics {
        height: 100%;
        width: 72%;
        // background: rgba(255, 255, 255, 0.25);
        background: rgba(255, 255, 255, 0.089);
        backdrop-filter: blur(1px);
        border-radius: 5px;
        color: white;
        .title {
            display: flex;
            justify-content: space-between;
            .left-side {
                width: 20%;
                height: 30px;
                margin-top: 0.8rem;
                margin-left: 1rem;
            }


            .right-side {
                width: 50%;
                height: 30px;
                margin-top: 0.8rem;
                span{
                    margin-right: 0.9rem;
                    font-size: 12px;

                }
            }
        }
    }
    .traffic {
        height: 100%;
        width: 25%;
        // background: rgba(255, 255, 255, 0.25);
        background: rgba(255, 255, 255, 0.089);
        backdrop-filter: blur(1px);
        border-radius: 5px;

        .labels {
            display: flex;
            justify-content: space-between;
            margin-right: 1rem;
            margin-left: 1rem;
            margin-top: 0.5rem;
            text-align: center;
            color: white;
            .label {
                width: 65px;
                height: 50px;

                .l-container {
                    display: flex;

                    .circle {
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        margin-top: 0.1rem;
                        margin-right: 0.2rem;
                    }
                    p {
                        font-size: 10px;
                    }
                    .a {
                        background-color: #ff5151;
                        margin-left: 0.8rem;
                    }
                    .b {
                        background-color: #3864ce;
                    }
                    .c {
                        background-color: #ffb026;
                    }
                }
            }
        }
    }
}

.third-row {
    height: 40vh;
    width: 96%;
    margin-left: 1.2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    .activities {
        width: 30%;
        height: 100%;
        // background: rgba(255, 255, 255, 0.25);
        background: rgba(255, 255, 255, 0.089);
        backdrop-filter: blur(1px);
        border-radius: 5px;
    }


    .orders {
        width: 67%;
        height: 100%;
        // background: rgba(255, 255, 255, 0.25);
        background: rgba(255, 255, 255, 0.089);
        backdrop-filter: blur(1px);
        border-radius: 5px;
    }
}