<div class="body">
    <div class="header">

        <div class="left-content">
            <div class="logo">

            </div>
            <div class="welcome-content">
                <p>Welcome Joshua</p>
            </div>
        </div>
        <div class="right-content">
            <!-- <p><i class="fa-regular fa-bell"></i></p> -->
            <div class="input-container">
                <input class="custom-input" placeholder="Search your items" />
                <i class="fas fa-search"></i>
            </div>
            <div class="bell-icon">
                <i class="fa-regular fa-bell"></i>
            </div>
            <div class="avatar">
                <div class="dropdown">
                    <button (click)="toggleDropdown()">
                        <i class="fa-solid fa-circle-user user-icon"></i>
                    </button>
                    <div class="dropdown-menu" *ngIf="showDropdown">
                        <div class="header-menu">
                            <div class="profile-image">
                                <i class="fa-solid fa-user user-icon"></i>
                            </div>
                            <div>
                                <p>Tracy baraza
                                    <br>
                                    <span>baraza@gmail.com</span>
                                </p>

                            </div>
                        </div>
                        <hr>
                        <div class="menu-header-content">
                            <button (click)="viewProfile()">View Profile</button>
                            <br>
                            <button (click)="logOut()">Log Out</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="min-height: 90vh;">

            <div class="col-md-2" style="margin: 0; padding: 0;">
                <div class="sidebar">
                    <div class="sidebar-content">
                        <ul>
                            <li [class.active-link]="isActive('dashboard')">
                                <span><i class="fas fa-tachometer-alt"></i></span>
                                <a (click)="setActive('dashboard')">Dashboard</a>
                            </li>
                            <li [class.active-link]="isActive('wallet')">
                                <span><i class="fas fa-wallet"></i></span>
                                <a (click)="setActive('wallet')">Wallet</a>
                            </li>
                            <li [class.active-link]="isActive('trading-bot')">
                                <span><i class="fas fa-robot"></i></span>
                                <a (click)="setActive('trading-bot')">Trading Bot</a>
                            </li>
                            <li [class.active-link]="isActive('settings')">
                                <span><i class="fas fa-cog"></i></span>
                                <a (click)="setActive('settings')">Settings</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-10" style="margin-left: -1rem;">
                <app-reports *ngIf="activeLink ==='dashboard'">

                </app-reports>
                <app-trading-bot *ngIf="activeLink === 'trading-bot'">

                </app-trading-bot>
            </div>
        </div>
    </div>
</div>