<div class="body">
    <div class="header">
        <div class="logo">

        </div>
        <div class="right-content">
            <input class="custom-input" placeholder=" Search your items"/>
            <p><i class="fa-regular fa-bell"></i></p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="min-height: 90vh;" >

            <div class="col-md-2" style="margin: 0; padding: 0;">
                <div class="sidebar">
                    <div class="sidebar-content">

                    <ul>
                        <li class="active-link"><span><i class="fas fa-tachometer-alt"></i></span><a href="">Dashboard</a></li>
                        <li><span><i class="fas fa-wallet"></i></span><a href="">Wallet</a></li>
                        <li><span><i class="fas fa-robot"></i></span><a href="">Trading Bot</a></li>
                        <li><span><i class="fas fa-cog"></i></span><a href="">Settings</a></li>
                    </ul>
                </div>
                </div>
            </div>

            <div class="col-md-10" style="margin-left: -1rem;">
                <div class="card-container">
                    <div class="card card-1">

                    </div>
                    <div class="card card-2">

                    </div>

                    <div class="card card-3">

                    </div>

                    <div class="card card-4">

                    </div>
                </div>
                <div class="second-row">
                    <div class="analytics">

                    </div>

                    <div class="traffic">

                    </div>
                </div>
                <div class="third-row">
                    <div class="activities">

                    </div>
                    <div class="orders">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>